{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body-l govuk-!-margin-bottom-2">Live</p>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          77
        </h1>
        <!--<p class="govuk-body-s"><a href="">View local authorities</a></p>-->
      </div>

      <div class="govuk-grid-column-one-third">
        <p class="govuk-body-l govuk-!-margin-bottom-2">Notice</p>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          3
        </h1>
        <!--<p class="govuk-body-s"><a href="">View local authorities</a></p>-->
      </div>

      <div class="govuk-grid-column-one-third">
        <p class="govuk-body-l govuk-!-margin-bottom-2">Migrating</p>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          180
        </h1>
        <!--<p class="govuk-body-s"><a href="">View local authorities</a></p>-->
      </div>

    </div>

    <div class="govuk-grid-row govuk-!-padding-top-6">
      <div class="govuk-grid-column-one-third">
        <img src="/public/images/stacked-chart.png" />
        <img src="/public/images/stacked-chart-key.png" />
      </div>
    </div>


  </div>
</div>

{% endblock %}
